<div style="text-align: center">
  <h1>
    This is to show you a MIDDLE FINGER 
  </h1> 
  <h2>So that you can put a ring on it </h2>
  <h3>:D :D </h3>
  <h4> Here is to propose you on Internet </h4>
  <h5>So that I can show off to the world that I love this man called </h5>
  <!-- <div *ngFor="let user of users">
   <h1>{{user.name}} </h1>
  </div>  -->
  <h1>{{users.myLove}}</h1>
  <h6>- {{users.hisLove}}</h6>
  <h6>Ps: If you check the network call, we are been fetched from there ;)</h6>
</div>

